---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

// const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

// const last_posts = posts.slice(0, 3);
//https://tailwindcss.com/docs/text-color
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-4xl font-bold">Yi Evie Zhang</div>
    <div class="text-2xl py-3">A lifelong learner</div>
    <div class="py-2">
      <text class="text-base text-neutral-600">
        <p class="mb-3">
          My name is Yi (Evie) Zhang, a first year PhD student in the Computer Science department at University of Illinois Urbana-Champaign. 
          My research focuses on human-computer interaction (HCI) and Human-centered artificial intelligence (HAI). I am interested in building autonomous AI systems that aligns with human values while safeguarding human agency and control. 
          Currently, I am supervised by <a href="https://tiffanygewang.com/" class="text-black-500 underline"></a> Prof. Ge Wang</a>.
          <!-- Previously I worked as a Research Assistant in the Computer Science Department at the University of Rochester, 
           supervised by <a href="https://zhenbai.io/" class="text-black-500 underline">Prof. Zhen Bai</a>, and as a member of the Interplay Lab. 
          I was also a member of the Digital Learning Lab at UC Irvine, led by <a href="https://markwarschauer.com/" class="text-black-500 underline">Prof. Mark Warschauer</a>.
        </p> -->
        <p class="mb-3">
         I am always keen on exploring the ethical, political, and cultural impacts of technical systems.
          I earned my B.A. in Japanese Language and Literature from Renmin University of China.
          While there, I became interested in the intersection of technology and social science, which led me to pursue further study and research in Computer Science and HCI.
        Later, I obtained my Master’s degree in Software Engineering from the University of California, Irvine.
        </p>
        <p class="mb-3">
          I like interdisciplinary research, learning and produce knowledge.
          Outside of research, I love literature, movies, and enjoy writing and photography.
        </p>

      </text>
    </div>
    <div class="mt-8">
      <!-- <a class="btn" href="https://twitter.com/manuelernestog" target="_blank"> Let's connect!</a> -->
    </div>
  </div>

  <div>
    <div class="text-2xl w-full mb-2">RECENT NEWS</div>
  </div>
   <HorizontalCard
    desc="Sept 2025 -- 🎊🎉 I am excited to be awarded Amazon AI PhD fellowship"
    url="#"
  />
  <div class="divider my-0"></div>

  <!-- <HorizontalCard
    desc="Jan 16 2025 -- 🎊🎉 Our Work 'Briteller: Shining a Light on AI Recommendation for Children' has been accepted to CHI 2025. (My first first-authored publication! :) )"
    url="#"
  />
  <div class="divider my-0"></div> -->
  <!-- <HorizontalCard
    title="Demo Project 2"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 3"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="FOSS"
  /> -->

  <!-- <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  } -->
</BaseLayout>
